/* Оформление основного контента */
body {
    background-color: #d4d9b7; /* Цвет фона */
    padding: 20px;
}

/* Оформление блока с рестораном */
.restaurant-item {
    margin-bottom: 20px; /* Отступ между ресторанами */
    padding-bottom: 20px; /* Отступ внизу каждого ресторана */
    border-bottom: 3px solid #1C5D17; /* Черта между ресторанами */
}

/* Оформление заголовка ресторана */
h1 {
    color: #343a40; /* Цвет заголовка */
}

/* Оформление описания концепции */
.concept {
    color: #6c757d; /* Цвет текста */
    margin-top: 20px;
}

/* Оформление навигации */
.navbar {
    margin-bottom: 20px; /* Отступ снизу */
}

.nav-link {
    color: #fff !important; /* Цвет текста кнопок */
    background-color: #1C5D17; /* Цвет фона кнопок */
    border-radius: 5px; /* Закругление углов кнопок */
    margin-right: 10px; /* Отступ между кнопками */
    padding: 5px 15px; /* Отступ внутри кнопок */
}

.nav-link:hover {
    color: #fff !important; /* Цвет текста при наведении */
    background-color: #155a0d; /* Цвет фона кнопок при наведении */
}

.navbar-brand {
    color: #fff !important; /* Цвет текста кнопки "Рестораны" */
    background-color: #1C5D17; /* Цвет фона кнопки "Рестораны" */
    border-radius: 5px; /* Закругление углов кнопки "Рестораны" */
    padding: 5px 15px; /* Отступ внутри кнопки "Рестораны" */
}

.navbar-brand:hover {
    color: #fff !important; /* Цвет текста при наведении */
    background-color: #155a0d; /* Цвет фона кнопки "Рестораны" при наведении */
}

/* Оформление пагинации */
.pagination .page-item .page-link {
    color: #1C5D17; /* Цвет текста */
    background-color: #E2EAB5; /* Цвет фона */
    border: 1px solid #1C5D17; /* Цвет границы */
}

.pagination .page-item.active .page-link {
    color: #fff; /* Цвет текста активной страницы */
    background-color: #1C5D17; /* Цвет фона активной страницы */
    border: 1px solid #1C5D17; /* Цвет границы активной страницы */
}

.pagination .page-item .page-link:hover {
    color: #fff; /* Цвет текста при наведении */
    background-color: #155a0d; /* Цвет фона при наведении */
    border: 1px solid #155a0d; /* Цвет границы при наведении */
}

/* Дополнительные стили для страницы "О проекте" */
.content {
    background-color: #74A570; /* Цвет фона блока */
    padding: 30px; /* Внутренний отступ */
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
    color: #343a40; /* Цвет текста */
}

.content h1, .content h2, .content h3, .content p, .content ul {
    margin-bottom: 20px; /* Отступ снизу */
}

.content ul {
    padding-left: 20px; /* Отступ для списка */
}

.content ul li {
    list-style-type: disc; /* Тип маркера списка */
}

/* Оформление футера */
.footer {
    color: #343a40; /* Цвет текста */
    text-align: right; /* Выравнивание текста по правому краю */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer p {
    margin: 0 10px; /* Отступ между элементами */
}
