{% extends "basket/base.html" %}
{% block content %}
<head>
  <title>Войти</title>
</head>
<body>
  <h2 class="text-center">Войти в аккаунт</h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="card mt-5"style="background-color: #74A570; border-radius: 25px;">
          <div class="card-body" style="background-color: #74A570; border-radius: 25px;">
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="username">Логин:</label>
                <input type="text" class="form-control" id="username" name="username" required>
              </div>
              <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" class="form-control" id="password" name="password" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block" style="background-color: #1C5D17; color: #fff; border: none; border-radius: 50; box-shadow: none; margin-top: 20px;">Войти</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if error %}
      <p>{{ error }}</p>
  {% endif %}
</body>
{% endblock %}