{% extends 'basket/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
    <div class="container">
        <div class="content">
            <h1>Электронная база данных меню ресторана</h1>
            <p><h4>Цель - создание электронной базы данных меню ресторана для облегчения работы работников ресторана, обеспечивая им доступ к полной информации о меню, ассортименте и составе блюд.</h4></p>
            <h2>Основные функции</h2>
            <ul>
                <li>В электронной базе данных представлено полное меню ресторана, включая описание, состав и аллергены для каждого блюда.</li>
                <li>Меню разбито на категории и подкатегории для удобной навигации и поиска.</li>
                <li>Для каждого блюда будет указан состав, включая ингредиенты и аллергены. Фотографии - при наличии.</li>
                <li>Меню доступно для просмотра на различных устройствах, включая компьютеры, планшеты и смартфоны.</li>
            </ul>
                <h2>Польза от проекта</h2>
            <ul>
                <li>Работники ресторана смогут быстро и легко найти информацию о любом блюде, что уменьшит время, затрачиваемое на поиск информации.</li>
                <li>Электронная база данных обеспечит точность информации о меню. Это исключит случаи изучения неактульной информации по блюдам и напиткам.</li>
                <li>Работники ресторана смогут удобно знакомиться с нововведениямии в меню.</li>
            </ul>
        </div>
    </div>
{% endblock %}