{% extends 'basket/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<div class="container restaurant-container">
    {% for restaurant in restaurants %}
    <div class="restaurant-item">
        <div class="row">
            <!-- Фото ресторана -->
            <div class="col-md-4 mb-3">
                {% if restaurant.image %}
                <a href="{% url 'basket:restaurant' restaurant.id %}">
                    <img src="{{ restaurant.image.url }}" alt="{{ restaurant.name }}" class="img-fluid">
                </a>
                {% endif %}
            </div>
            <!-- Название ресторана и описание концепции -->
            <div class="col-md-8">
                <a href="{% url 'basket:restaurant' restaurant.id %}" style="text-decoration: none;">
                    <h1>{{ restaurant.name }}</h1>
                </a>
                <p class="concept">{{ restaurant.concept| slice:":703" }}...</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
