{% extends 'basket/base.html' %}

{% load static %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <div class="container">
        <div class="content-wrapper">
            <h1>Добро пожаловать в "TastySkills"</h1>
            <div class="button-container">
                <a href="{% url 'basket:restaurants' %}" class="btn">
                    Доступные рестораны
                </a>
                <a href="{% url 'basket:last-chages' %}" class="btn">
                    Последние изменения в меню
                </a>
                <a href="{% url 'basket:categories' %}" class="btn">
                    Категории блюд
                </a>
            </div>
        </div>
    </div>
{% endblock %}