{% extends 'basket/base.html' %}

{% block title %}
Последние изменения продуктов
{% endblock %}

{% block content %}
    <h1>Последние добавленные/изменённые продукты</h1>

    {% if products %}
        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Категория</th>
                    <th>Ресторан</th>
                    <th>Дата изменения</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td><a href="{% url 'basket:product-detail' product.pk %}">{{ product.title }}</a></td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.restaurant }}</td>
                        <td>{{ product.modified_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Нет последних изменений продуктов.</p>
    {% endif %}
{% endblock %}