{% extends 'basket/base.html' %}

{% block title %}
    {{ restaurant.name }}
{% endblock %}

{% block content %}
<body>
    <div class="container">
        <div class="restaurant-image">
            <img src="{{ restaurant.image.url }}" alt="{{ restaurant.name }}" class="restaurant-img">
            <h1 class="restaurant-name">{{ restaurant.name }}</h1>
        </div>
        <div class="buttons">
            <a href="{% url 'basket:last-chages' %}" class="button button-primary">Последние изменения</a>
            {% if user.is_staff or user.is_superuser %}
                <a href="{% url 'basket:product-create' %}" class="button button-success">Добавить новую позицию</a>
            {% endif %}
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card-body">
                    <a href="{% url 'basket:product-detail' product.id %}">
                    <img src="{{ product.image.url }}" alt="{{ product.title }}" class="card-img-top">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text modified-date">Последние изменения: {{ product.modified_at|date:"d.m.Y" }}</p></a>
                </div>
            </div>
            {% endfor %}
        </div>        
</body>
{% endblock %}