{% extends 'basket/base.html' %}

{% block title %}
    {{ restaurant.name }}
{% endblock %}

{% block content %}
    <h1>{{ restaurant.name }}</h1>
    <h2>Products:</h2>
    <ul>
        {% for product in products %}
            <li>
                <h3>{{ product.title }}</h3>
                <p>Category: {{ product.category.title }}</p>
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.title }}">
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <h2>Categories:</h2>
    <ul>
        {% for category in categories %}
            <li>
                <h3>{{ category.title }}</h3>
                <p>Products: {{ category.products.count }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}