{% extends 'basket/base.html' %}

{% block title %}
Мои рестораны
{% endblock %}

{% block content %}
<div class="container restaurant-container">
    {% for restaurant in restaurants %}
    <div class="restaurant-item">
        <a href="{% url 'basket:restaurant-detail' restaurant.id %}">
        <div class="row">
            <!-- Фото ресторана -->
            <div class="col-md-4 mb-3">
                {% if restaurant.image %}
                    <img src="{{ restaurant.image.url }}" alt="{{ restaurant.name }}" class="img-fluid">
                {% endif %}
            </div>
            <!-- Название ресторана и описание концепции -->
            <div class="col-md-8">
                    <h1>{{ restaurant.name }}</h1>
                <p class="concept">{{ restaurant.concept|slice:":703" }}...</p>
            </div>
        </div>
    </a>
    </div>
    {% endfor %}
</div>
{% endblock %}